
.btn-log{
    background-color:#EC4722;
    color: #ffffff;
    padding: 5px;
    cursor: pointer;
   }
   
   .btn-log:hover{
       background-color: #00E08B;
       color:  #ffffff;
   }
   .container-sign-up{
       background-image: url("../../../assets/img/background/fondo2.jpg");
       background-size: cover;
       background-repeat: no-repeat;
       
   }
   
   .link-pass-olvidada{
       color: #111111;
       cursor: pointer;
       
   }
   .link-pass-olvidada:hover{
      color: #0b3b7a!important;
   }
   
   
   .logo{
       width: 60%;
       height: 50%;
   }
   
   
   .app-body{  
       background-image: url("../../../assets/img/background/fondo.jpg");
       background-size: cover;
       /*margin-top: 0px;
       height: 700px;*/
       width: 100%;
       height: 600px;
       margin: 0;
   }
   
   .linkContraseñaOlvidada{
   
       color: link-pass-olvidada !important;
       cursor: pointer;
       
     }
     
     .linkContraseñaOlvidada:hover{
     
       text-decoration: underline !important;
       
     }
     
     .botonLogin{
     
       background-color: #EC4722 !important;
       border-color: #EC4722 !important;
       color: white !important;
       border-radius: 3px;
       width: 90px;
       height: 40px;
       border: 1px solid ;
     
     }
     
     .botonLogin:hover{
       background-color: white !important;
       border-color: #EC4722 !important;
       color: #EC4722 !important;
       border: 1px solid !important;
     } 

@media (min-width: 1200px){
    .app-body {
        max-width: 100%;
    }
}
